name: common_deploy_artifact_s3

# Assume that artifact stored in GitHub and from there copy to S3
# https://github.com/aodn/backlog/issues/4392

# To share data between jobs:
#
# Uploading files: Give the uploaded file a name and upload the data before the job ends.
# Downloading files: You can only download artifacts that were uploaded during the same workflow run.
# When you download a file, you can reference it by name.
#
# May be easier to do this:
# https://docs.github.com/en/enterprise-server@3.5/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage


on:
  workflow_call:
    inputs:
      artifact:
        description: 'The artifact name include version and extension'
        required: true
        type: string
      environment:
        description: 'Environment of this copy'
        required: false
        type: string
        default: 'Dev'
      region:
        description: 'The AWS deploy region'
        required: false
        type: string
        default: 'ap-southeast-2'
      s3bucket:
        required: false
        type: string
        default: 'imos-artifacts'
    secrets:
      role-to-assume:
        required: true

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

# permission can be added at job level or workflow level
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  copy_to_s3:
    name: copy artifact from github to s3 env ${{ inputs.environment }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.role-to-assume }}
          role-session-name: ${{ github.event.repository.name }}
          aws-region: ${{ inputs.region }}

      - name: Download artifact
        id: download-artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact }}

      - name: List
        run: ls -R

      - name: Copy artifact action
        run: >
          aws s3 cp
          ${{ steps.download-artifact.outputs.download-path }}  
          s3://${{ inputs.s3bucket }}/promoted/${{ github.event.repository.name }}/build/${{ inputs.artifact }}